.calculator {
    width: 320px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #D4A0A7;
}

#display {
    width: 90%;
    padding: 15px;
    margin: 10px auto;
    font-size: 2em;
    text-align: right;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #D6CE93;
    display: block;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
}

.buttons button {
    padding: 20px;
    font-size: 1.2em;
    border: 2px solid #47A025;
    border-radius: 5px;
    background-color: #C33149;
    color: white;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #A0293C;
}

.buttons .special {
    background-color: #C33149;
}
